html, body {
    scroll-behavior: smooth;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem transparent;
}

.overhidden{
    overflow: hidden;
}



/***********************
HEADER
***********************/
header {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 20px 15px 0px;
}

.logo-top {
    width: 80%;
    position: relative;
    z-index: 9;
}

a.img-logo-top {
    background: url(svg/logo.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 100%;
    display: block;
    filter: invert(1);
}

.menu-desk ul {
    padding: 0px;
    list-style: none;
    width: 100%;
}

.menu-desk ul li a {
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0px;
    display: block;
}

.register-header {
    width: 20%;
    display: none;
}

a.btn-register-header {
    color: #FFFFFF;
    background: rgb(255 255 255 / 10%);
    border-radius: 30px;
    width: 150px;
    display: block;
    text-align: center;
    padding: 10px 0px;
    float: right;
}

button#openmenu {
    border: 0px;
    background: transparent;
    padding: 0px;
    margin: 0px;
    width: 10%;
}

.tooltip-menu-mobile {
    display: flex;
}

#openmenu span {
    height: 2px;
    background: white;
    display: block;
    margin: 4px auto;
    width: 30px;
    transition: 0.5s ease all;
}

.show span:first-child {
    transform: rotate(130deg);
}

.show span:nth-child(2) {
    display: none !important;
}

.show span:last-child {
    transform: rotate(230deg);
    margin-top: -6px !important;
}

.menu-desk {
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    padding: 80px 15px;
    transition: 0.5s ease all;
}

.menu-desk.open-mobile {
  left: 0%;
}

@media (min-width:1024px){
  .logo-top {
    width: 15%;
  }

  .tooltip-menu-mobile {
    display: none;
  }

  .menu-desk {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    position: relative;
    background: transparent;
    left: auto;
    top: auto;
    padding: 0px;
    height: auto;
  }

  .menu-desk ul {
      padding: 0px;
      list-style: none;
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
      margin: 0px;
      justify-content: space-around;
      width: 100%;
  }

  .menu-desk ul li a {
      color: white;
      font-size: 18px;
      line-height: 24px;
      margin: 0px 0px;
      display: block;
  }

  .register-header {
      display: block;
  }

}

/***********************
PRODUCT DESIGNER
***********************/
.section-product-designer {
    background: black;
    min-height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: flex-end;
    padding: 20px 15px;
}

.rectangle-white {
    width: 100%;
    background: white;
    border-radius: 20px;
    padding: 20px 15px;
    position: relative;
    bottom: -100px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    box-shadow: 50px 50px 99px rgb(34 34 34 / 6%);
}

.item {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    width: 100%;
}

.lado-1-slide-product-designer, .lado-2-slide-product-designer {
    width: 100%;
}

.content-slide-product-designer h1 {
    font-size: 35px;
    line-height: 50px;
}

.sub-title-project {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.content-slide-product-designer h2 {
    font-size: 35px;
    line-height: 48px;
    color: #8D8D8D;
    margin: 0px;
    position: absolute;
    top: 0px;
}

h2.ui-ux-back {
    font-size: 70px;
    line-height: 80px;
    position: relative;
    color: transparent;
    background: -webkit-linear-gradient(3deg, #f7f7f7 0%, rgb(212 212 212 / 40%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin: 0px;
    top: 0px;
}

.content-slide-product-designer p {
    font-size: 16px;
    line-height: 40px;
}

.content-slide-product-designer a {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    color: white;
    background: #F46632;
    border-radius: 16px;
    padding: 10px;
    width: 100%;
    display: block;
    margin-top: 50px;
}

.owl-stage-outer {
    position: relative;
    z-index: 2;
}

.owl-nav {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    z-index: 1;
}

.owl-prev span, .owl-next span {
    font-size: 50px;
    line-height: 0px !important;
    height: 20px !important;
    display: block;
    margin: 0px 10px;
    font-weight: 100;
}

@media (min-width: 1024px){
  .rectangle-white {
      padding: 50px 70px;
      min-height: 700px;
  }

  .lado-1-slide-product-designer {
      width: 55%;
  }

  .lado-2-slide-product-designer {
      width: 45%;
  }

  .content-slide-product-designer h1 {
      font-size: 50px;
      line-height: 67px;
  }

  .content-slide-product-designer h2 {
      font-size: 38px;
      line-height: 51px;
  }

  h2.ui-ux-back {
      font-size: 150px;
      line-height: 150px;
      top: -25px;
  }

  .content-slide-product-designer p {
      font-size: 23px;
      line-height: 55px;
  }

  .content-slide-product-designer a {
      width: 300px;
  }

  .owl-nav {
      width: 113%;
      align-items: center;
      justify-content: space-between;
      left: -6%;
      position: absolute;
      top: 50%;
  }

  .owl-prev span, .owl-next span {
      font-size: 150px;
      line-height: 0px !important;
      height: 50px !important;
      margin: 0px;
  }

}

/***********************
ABOUT US
***********************/
.about-us {
  background: #FAFAFA;
  padding: 0px 15px;
}

.rectangle-white.rectangle-about-us {
    min-height: auto;
    margin-top: 300px;
    bottom: auto;
}

.top-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
}

.video-about {
    width: 100%;
    min-height: 200px;
    background: black;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    padding: 50px;
    border-radius: 30px;
    margin-top: -200px;
    position: relative;
}


.video-about:before {
    content: "";
    background: url(svg/logo.svg);
    width: 100%;
    height: 88px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
}

.video-about:after {
    content: "";
    background: url(svg/player.svg);
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.title-about {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
}

.back-title {
    position: relative;
    font-size: 70px;
    line-height: 100px;
    font-weight: 900;
    color: #efefef;
    text-align: center;
    width: 100%;
}

.title-about h2 {
    z-index: 1;
    position: absolute;
    margin: 0px;
    font-size: 32px;
    line-height: 43px;
    bottom: 30%;
}

.rede-social-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
}

a.icone-social {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0px 15px 0px 0px;
}

.icone-facebook{
  background: url(svg/facebook.svg);
}
.icone-twitter{
  background: url(svg/twitter.svg);
}
.icone-instagram{
  background: url(svg/instagram.svg);
}

.content-about p {
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0 0px;
}

@media (min-width: 1024px){
  .video-about {
      min-height: 330px;
      width: 50%;
  }

  .title-about {
      width: 45%;
  }

  .back-title {
      font-size: 110px;
      line-height: 149px;
  }

  .rede-social-about {
      width: 5%;
      margin: 0 auto;
  }

  a.icone-social {
      width: 28px;
      height: 28px;
      margin: 0px 0 20px auto;
  }

  .content-about p {
    font-size: 19px;
    line-height: 50px;
    margin: 80px 0 0px;
  }

}

/***********************
EXPERIENCE
***********************/
.rectangle-white.rectangle-experience {
    min-height: auto;
}

.title-experience {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
}

.back-title-experience {
    position: relative;
    font-size: 45px;
    line-height: 109px;
    font-weight: 900;
    color: #efefef;
    text-align: center;
    width: 100%;
}

.title-experience.title-faq .back-title-experience {
    font-size: 100px;
}

.title-experience h2 {
    font-size: 25px;
    line-height: 35px;
    z-index: 1;
    position: absolute;
    margin: 0px;
    bottom: 25%;
}

div#nav-tab {
    border-bottom: 0px;
    padding: 50px 0px;
    width: 100%;
    justify-content: center;
}


.nav-link {
    color: black !important;
    border: 1px solid black !important;
    border-radius: 0px !important;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 50px;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.nav-link.active {
    background: #000000 !important;
    color: white !important;
}

.content-tabs {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
}

.imagem-content-tab {
    width: 100%;
    background: url(svg/product-factory-placa.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

.text-contet-tab {
    width: 100%;
    padding: 20px 0px 0px 0px;
}

.text-contet-tab p {
    font-size: 18px;
    line-height: 40px;
    margin: 0px;
}

@media (min-width: 1024px){
  .back-title-experience {
      font-size: 120px;
      line-height: 159px;
  }

  .title-experience.title-faq .back-title-experience {
      font-size: 120px;
  }

  .title-experience h2 {
      font-size: 32px;
      line-height: 43px;
  }

  .imagem-content-tab {
      width: 30%;
      height: 280px;
  }

  .text-contet-tab {
      width: 70%;
      padding: 0px 0px 0px 30px;
  }

  .nav-link {
      width: auto;
  }

  .nav-link:nth-child(1) {
      border-radius: 16px 0px 0px 16px !important;
  }

  .nav-link:nth-child(3) {
      border-radius: 0px 16px 16px 0px !important;
  }

}


/***********************
SESSION
***********************/
.sessions {
    background: white;
    padding: 150px 15px 0px;
}

.content-sessions {
    width: 100%;
    margin-top: 30px;
}

.item-content-sessions {
    border-left: 2px solid #F8F8F8;
    padding: 0px 0px 0px 15px;
    position: relative;
}

.item-content-sessions:before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    background: black;
    width: 6px;
    height: 38px;
    border-radius: 10px;
}

.top-item-content-sessions {
    background: #F8F8F8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    padding: 10px 15px;
}

.number-sessison {
    width: 100%
}

.number-sessison p {
    font-size: 26px;
    line-height: 35px;
    font-weight: 600;
    margin: 0px 0px 20px;
    text-align: center;
}

.detail-session {
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    padding: 0px 10px;
}

.detail-session p {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.icon-sessions {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 100%;
    margin-bottom: 10px;
    height: 20px;
}

.icon-sessions.icon-time {
  background: url(svg/time.svg);
}

.icon-sessions.icon-calendar {
  background: url(svg/calendar.svg);
}

.icon-sessions.icon-player-black {
  background: url(svg/player-black.svg);
}

.list-imgs-item-sessions {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.content-item-sessions {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    padding: 30px 15px;
}

.img-sessions {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    height: 87px;
    width: 87px;
    border-radius: 10px;
    margin-right: 5px;
}

.text-item-session {
    width: 100%;
}

.text-item-session p {
    font-size: 16px;
    line-height: 34px;
    margin: 0px;
}

@media (min-width:1024px){
  .content-sessions {
      margin-top: 60px;
  }

  .item-content-sessions {
      padding: 0px 0px 0px 30px;
  }

  .top-item-content-sessions {
      padding: 0px 30px;
  }

  .number-sessison {
      width: 30%
  }

  .number-sessison p {
      margin: 0px;
      text-align: left;
  }

  .detail-session {
      width: 23%;
      padding: 0px 0px;
  }

  .icon-sessions {
      background-position: left center !important;
      width: 20px;
      margin-right: 10px;
      margin-bottom: 0px;
      top: 2px;
      position: relative;
  }

  .detail-session p {
      font-size: 19px;
      line-height: 26px;
      text-align: left;
      width: auto;
  }

  .content-item-sessions {
      padding: 30px 30px;
  }

  .list-imgs-item-sessions {
      width: 30%;
      margin-bottom: 0px;
  }

  .text-item-session {
      width: 70%;
  }

}

/***********************
MASTERS
***********************/
.rectangle-white.rectangle-masters {
    padding: 0px 15px;
    box-shadow: 0px 1px 99px rgb(34 34 34 / 10%);
    bottom: -50px;
}

.content-masters {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}

.item-masters {
    width: 100%;
    margin-top: 20px;
}

.img-masters {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 200px;
    min-height: 200px;
    position: relative;
    border-radius: 20px;
    margin: 0 auto;
}

.info-of-masters {
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 70%);
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: center;
    padding: 50px 20px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.5s ease all;
}

.info-of-masters:hover {
    opacity: 1;
}

.rede-social-master {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

a.icon-social-master {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 25px;
    height: 25px;
    display: block;
    filter: invert(1);
}

a.btn-about-master {
    width: 100%;
    background: rgb(180 180 180 / 48%);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 20px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.tooltip-masters span{
    background: white;
    height: 1px;
    display: block;
    margin: 4px 0px;
}

.tooltip-masters span:nth-child(1) {
    width: 14px;
}

.tooltip-masters span:nth-child(2) {
    width: 20px;
}

.tooltip-masters span:nth-child(3) {
    width: 16px;
}

a.btn-about-master p {
    margin: 0px;
    color: white;
}

h2.name-master {
    font-size: 18px;
    line-height: 35px;
}

p.cargo-master {
    font-size: 15px;
    line-height: 16px;
}

.master-title {
    text-align: center;
}

@media (min-width: 1024px){
  .rectangle-white.rectangle-masters {
      padding: 50px 70px;
      box-shadow: 0px 1px 99px rgb(34 34 34 / 10%);
      bottom: -100px;
  }

  .item-masters {
      width: 19%;
      margin-top: 50px;
  }

  .img-masters {
      width: 100%;
      min-height: 190px;
  }

  .master-title {
    text-align: left;
  }
}

/***********************
FAQ
***********************/
.faqs {
    background: #FAFAFA;
    padding: 70px 15px 0px;
}

.back-title-experience.title-faq {
    font-size: 120px;
}

.title-experience.title-faq h2 {
    font-size: 22px;
}

.itens-faq {
    width: 100%;
    margin: 20px 0px 50px;
}

.card {
    margin: 20px 0px;
    border-radius: 20px;
    box-shadow: 10px 10px 99px #d3d3d329;
    border: 0px !important;
}

.card-header {
    background-color: transparent;
    border-bottom: 0px;
}

.itens-faq .btn.btn-link {
    padding: 0px 50px 0px 0px;
    color: black;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
}

.itens-faq .btn-link:after {
    content: "-";
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 0;
}

.itens-faq .btn-link.collapsed:after {
    content: "+";
}

@media (min-width:1024px){
  .faqs {
      padding: 150px 15px 0px;
  }

  .title-experience.title-faq h2 {
      font-size: 25px;
  }

  .itens-faq {
      width: 100%;
      margin: 50px 0px;
  }
}



/***********************
COURSE FEE
***********************/
.rectangle-white.rectangle-course {
    bottom: 0px;
}

.rectangle-white.rectangle-course .item {
    justify-content: space-between;
}

.rectangle-white.rectangle-course .title-experience {
    margin-bottom: 20px;
}

.lado-1-course-fee {
    width: 100%;
}

.lado-1-course-fee h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
}

.item-course {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 30px;
}

i.icone-course {
    background: #29D089;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    margin-right: 20px;
}

p.text-course {
    font-size: 16px;
    line-height: 21px;
    width: 80%;
    margin: 0px;
}

.lado-2-course-fee {
    width: 100%;
    background: black;
    border-radius: 20px;
    padding: 30px 15px;
    text-align: center;
}

p.price-old {
    color: white;
    font-size: 19px;
    line-height: 26px;
    text-decoration: line-through;
    margin-bottom: 25px;
}

p.price-new {
    font-size: 34px;
    line-height: 46px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
}

p.text-pay {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.lado-2-course-fee a {
    background: #F36732;
    border-radius: 12px;
    padding: 10px 40px;
    display: inline-block;
    margin: 20px 0px 0px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.obs-course {
    width: 100%;
    margin-top: 0px;
}

hr.line-grey {
    border-top: 1px solid rgb(0 0 0 / 8%);
}

.obs-course p {
    font-size: 18px;
    line-height: 25px;
    color: rgb(0 0 0 / 49%);
    text-align: center;
    padding: 20px 0px 0px;
}

@media (min-width:1024px){
  .rectangle-white.rectangle-course {
      bottom: -100px;
  }

  .rectangle-white.rectangle-course .title-experience {
      margin-bottom: 80px;
  }

  .lado-1-course-fee {
      width: 50%;
  }

  .lado-1-course-fee h2 {
      font-size: 25px;
      line-height: 32px;
  }

  p.text-course {
      width: 90%;
  }

  .lado-2-course-fee {
      width: 45%;
      padding: 50px;
  }

  .obs-course {
      margin-top: 30px;
  }

}

/***********************
REQUESTS
***********************/
.requests {
    background: #FFFFFF;
    padding: 100px 0px 50px;
}

.requests-lists:after {
    content: "";
    background: url(svg/icone-email.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    left: 0;
    height: 300px;
    display: block;
    position: absolute;
    bottom: 0;
}

.requests-lists {
    background: black;
    padding: 50px 15px;
    min-height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}

.requests-lists .row {
    justify-content: space-between;
}

.content-requests {
    width: 100%;
}

.content-requests h2 {
    font-size: 34px;
    line-height: 46px;
    color: white;
}

.content-requests p {
    color: white;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
}

.content-requests input[type="text"] {
    background: rgb(255 255 255 / 15%);
    border: 0px;
    border-radius: 16px;
    padding: 10px 40px;
    font-size: 22px;
    line-height: 30px;
    color: white;
    max-width: 100%;
}

.icone-requestes {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;
}

.icone-requestes:before {
    content: "";
    background: url(svg/icone-email-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 150px;
    display: block;
    position: relative;
}

.sucess-send {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
}

.sucess-send p {
    font-size: 15px;
    line-height: 40px;
    color: white;
    font-weight: 100;
    margin: 0px;
    width: 90%;
}

@media (min-width:1024px) {
  .requests {
      background: #FFFFFF;
      padding: 250px 0px 50px;
  }

  .requests-lists {
      padding: 100px 15px;
  }

  .requests-lists:after {
      width: 45%;
      right: 0;
      left: auto;
      height: 100%;
  }

  .content-requests {
      width: 50%;
  }

  .icone-requestes {
      width: 45%;
      margin-top: 0px;
  }

  .icone-requestes:before {
      background-size: 230px;
      height: 100%;
      background-position: right;
  }

}

/***********************
PROJECTS
***********************/
.projects {
    width: 100%;
    padding: 100px 15px 0px;
}

#slide-projects {
    margin-top: 100px;
}

.lado-1-projects h2 {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 20px;
    font-weight: 900;
}

.lado-1-projects p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 100;
    margin-bottom: 40px;
    display: block;
}

.lado-1-projects p.text-course {
    line-height: 30px;
    margin-bottom: 0px;
}

.number-project {
    font-size: 34px;
    line-height: 46px;
    background: #F5F5F5;
    border-radius: 16px;
    padding: 10px;
    margin-top: 50px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

#slide-projects .item {
    align-items: end;
    justify-content: space-between;
}

.lado-2-projects {
    padding: 50px 0px 20px;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.lado-2-projects:before {
    content: "";
    position: absolute;
    background: #F5F5F5;
    border-radius: 30px;
    width: 100%;
    height: 60%;
    left: 0;
    top: 0;
}

.img-project {
    background: #FFFFFF;
    height: 400px;
    border-radius: 30px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    box-shadow: 7px 9px 20px 0px #2c2c2c0f;
}

#slide-projects .owl-prev span, #slide-projects  .owl-next span {
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid black !important;
    width: 50px;
    height: 50px !important;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    position: relative;
    padding: 19px;
}

.projects .back-title-experience {
    font-size: 70px;
}

.projects .title-experience h2 {
    font-size: 35px;
}

@media (min-width: 1024px){
  .lado-1-projects {
      width: 45%;
  }

  .lado-1-projects p {
      font-size: 20px;
      line-height: 50px;
  }

  .lado-2-projects {
      width: 50%;
      margin-top: 0px;
  }

  #slide-projects .owl-nav {
    width: 50%;
    right: 0;
    left: auto;
    top: 80%;
    z-index: 2;
  }

  .projects .back-title-experience {
      font-size: 120px;
  }

  .img-project {
      height: 600px;
      width: 300px;
  }

}

/***********************
SCHEDULE
***********************/
.schedule {
    padding: 20px 15px;
    background: #FAFAFA;
}

.content-schedule {
    width: 100%;
}

.middle-schedule {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

.middle-schedule p {
    font-size: 25px;
    line-height: 66px;
    background: white;
    border-radius: 26px;
    box-shadow: 40px 40px 99px #acacac29;
    font-weight: 600;
    padding: 10px;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    margin: 0px 0px 30px;
}

.bottom-schudele p {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 900;
    margin: 0;
}

.days-of-course {
    background: black;
    border-radius: 16px;
    padding: 10px 20px;
    color: white;
    margin-right: 5px;
}

a.btn-register-course {
    background: #F46632;
    border-radius: 16px;
    color: white;
    font-size: 24px;
    line-height: 32px;
    display: inline-block;
    padding: 10px 40px;
    font-weight: 400;
    text-decoration: none;
    width: 200px;
    margin: 30px auto 20px;
}


.top-schedule{
  display: none;
}

.time-course-mobile {
    font-size: 22px;
    line-height: 20px;
    font-weight: 600;
}

@media (min-width: 1024px){
  .bottom-schudele p {
      font-size: 33px;
      line-height: 44px;
  }

  .middle-schedule p {
      font-size: 45px;
      line-height: 66px;
      font-weight: 500;
      width: 45%;
      margin: 0px;
  }

  .days-of-course {
      margin-right: 20px;
  }

  a.btn-register-course {
      margin: 0px 0px 00px 20px;
  }

  span.separete-start-end-course:after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: rgb(0 0 0 / 8%);
    right: -30px;
    position: absolute;
    top: -17px;
  }

  span.separete-start-end-course:before {
      content: "";
      width: 30px;
      height: 30px;
      border: 3px solid rgb(0 0 0 / 8%);
      border-radius: 100%;
      display: inline-block;
      position: absolute;
      left: -30px;
      top: -17px;
  }

  span.separete-start-end-course {
      border-top: 4px dashed rgb(0 0 0 / 8%);
      width: 350px;
      height: 5px;
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
      align-items: center;
      position: relative;
  }

  .schedule {
      padding: 100px 15px;
  }

  .top-schedule {
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
      justify-content: space-around;
      margin-bottom: 30px;
      align-items: center;
  }

  .top-schedule p {
      font-size: 29px;
      line-height: 38px;
      font-weight: 600;
  }

  span.time-course-mobile {
    display: none;
  }

}

/***********************
FOOTER
***********************/
footer {
    padding: 30px 15px;
}

footer .row {
    align-items: center;
}

.rede-social-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    order: 2;
    margin-bottom: 20px;

}

.rede-social-footer a.icone-social {
    width: 28px;
    height: 28px;
    margin: 0px 15px 0px 0px;
}

.logo-footer {
    width: 100%;
    background: url(svg/logo.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    order: 1;
    margin-bottom: 20px;
}
.contact-footer {
    text-align: left;
    width: 100%;
    order: 3;
}

@media (min-width: 1024px){
  .rede-social-footer {
      width: 33%;
      margin-bottom: 0px
  }

  .logo-footer {
      width: 33%;
      margin-bottom: 0px;
      order: 2;
      background-position: center;
  }

  .contact-footer {
      text-align: right;
      width: 33%;
  }
}
